<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>puz3_player1</title>
    <link rel="stylesheet" href="/stylesheets/puz3style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/socket.io/socket.io.js"></script>

</head>
<body style="background-color: #B0903D;" class="min-h-screen flex flex-col items-center justify-start py-10">

<div class="text-center space-y-2">
    <h1 id="playerInfo" class="bg-yellow-400 text-black text-4xl px-20 py-2 border border-black w-[1000px]">
        Click on the button with the correct <span class="fontColorShowcase">text color</span>! <br> </h1>
    <h2><span class="emphasis">Wait</span> for Player 2 to tell you what the correct color is. <br></h2>
    <h2 class="scoreBoard"><%= timesCleared %> / <%= timesToClear %></h2>
    Get <%= timesToClear %> correct in a row to win.

    <form method="post" id="buttonForm">
        <input type="hidden" name="fontColorOfButton" id="fontColorOfButton">
        <button class="px-8 py-6 text-3xl rounded-lg" onclick="checkColor(this)" type="button" id="button1"></button>
        <button class="px-8 py-6 text-3xl rounded-lg" onclick="checkColor(this)" type="button" id="button2"></button>
        <button class="px-8 py-6 text-3xl rounded-lg" onclick="checkColor(this)" type="button" id="button3"></button>
        <button class="px-8 py-6 text-3xl rounded-lg" onclick="checkColor(this)" type="button" id="button4"></button>
        <button class="px-8 py-6 text-3xl rounded-lg" onclick="checkColor(this)" type="button" id="button5"></button>
        <button class="px-8 py-6 text-3xl rounded-lg" onclick="checkColor(this)" type="button" id="button6"></button>
    </form>
</div>
<audio id="correctAudio">
    <source src="/sounds/correct.mp3" type="audio/mpeg">
</audio>
<audio id="wrongAudio">
    <source src="/sounds/wrong.mp3" type="audio/mpeg">
</audio>
</body>
</html>
<script src="https://www.w3schools.com/lib/w3color.js">
    //In this tag we include a library made by w3schools with functions that allow us to change
    //colors from rgb values to hex values, which we do in the checkColor() function.
</script>
<script>
    //We save route variables here as global variables to be used in our js script
    window.correctAnswer = <%- JSON.stringify(correctAnswer) %>;
    window.arrayOfColors = <%- JSON.stringify(arrayOfColors) %>;
</script>
<script src="/js/puz3_player1.js"></script>