<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>puz3_player2</title>
    <link rel="stylesheet" href="/stylesheets/puz3style.css">
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body style="background-color: #B0903D;" class="min-h-screen flex flex-col items-center justify-start py-10">

<div class="text-center space-y-4">
    <h1 id="playerInfo" class="bg-yellow-400 text-black text-4xl px-20 py-2 border border-black">
        Which color appears the <span id="maxOrMin" class="emphasis"></span>?</h1>
    <h2 class="scoreBoard"><%= timesCleared %> / <%= timesToClear %></h2>
    Get <%= timesToClear %> correct in a row to win.
</div>

<div class="flex justify-center items-center space-x-2 mt-6">
    <!-- Table 1 -->
    <table id="tableColor" class="colorTable mx-auto"></table>

    <!-- Table 2 + text -->
    <div class="flex flex-col items-center space-y-2">
        <p class="text-lg mt-6 text-center">
            Tell Player 1 the matching color from the second row <br>
            of the table below. <br>
        </p>
        <table id="tableAnswers" class="answerTable mx-auto"></table>
    </div>
</div>
<br>



<script>
    let table = document.getElementById('tableColor');
    let tableSize = 10;

    //Get colors and colorPool from puzzle3.js
    let colorPool = <%- JSON.stringify(colorPool) %>;
    let cellColors = <%- JSON.stringify(cellColors) %>;
    let colorIndex = 0;

    for (let i = 0; i < tableSize; i++) {
        let row = table.insertRow(i);
        for (let j = 0; j < tableSize; j++) {
            row.insertCell(-1).style.backgroundColor = cellColors[colorPool[colorIndex]];
            colorIndex++;
        }
    }

    let tableAnswers = document.getElementById('tableAnswers');
    let rowColors = tableAnswers.insertRow(0);
    for (let i = 0; i < cellColors.length; i++) {
        rowColors.insertCell(-1).style.backgroundColor = cellColors[i];
    }

    let rowAnswers = tableAnswers.insertRow(1);
    let possibleAnswers = <%- JSON.stringify(possibleAnswers) %>;
    for (let i = 0; i < possibleAnswers.length; i++) {
        rowAnswers.insertCell(-1).style.backgroundColor = possibleAnswers[i];
    }
    console.log(possibleAnswers);

    let isMax = <%- JSON.stringify(isMax) %>;
    let playerInfo = document.getElementById('maxOrMin');
    if (isMax) {
        playerInfo.innerHTML = "most";
    } else {
        playerInfo.innerHTML = "least";
    }

</script>
</body>
</html>