<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>puz3_player1</title>
    <link rel="stylesheet" href="/stylesheets/puz3style.css">
</head>
<body>
<h2>Click on the button with the correct <span class="fontColorShowcase">text color</span>! <br>
    <span class="emphasis">Wait</span> for Player 2 to tell you what the correct color is. <br>
    Get <%= timesToClear %> correct in a row to win.
</h2>
<h2 class="scoreBoard"><%= timesCleared %> / <%= timesToClear %></h2>
<form method="post" id="buttonForm">
    <input type="hidden" name="fontColorOfButton" id="fontColorOfButton">
    <button onclick="checkColor(this)" type="button" id="button1"></button>
    <button onclick="checkColor(this)" type="button" id="button2"></button>
    <button onclick="checkColor(this)" type="button" id="button3"></button>
    <button onclick="checkColor(this)" type="button" id="button4"></button>
    <button onclick="checkColor(this)" type="button" id="button5"></button>
    <button onclick="checkColor(this)" type="button" id="button6"></button>
</form>
<audio id="correctAudio">
    <source src="/sounds/correct.mp3" type="audio/mpeg">
</audio>
<audio id="wrongAudio">
    <source src="/sounds/wrong.mp3" type="audio/mpeg">
</audio>
</body>

</html>
<script src="https://www.w3schools.com/lib/w3color.js">
    //In this tag we include a library made by w3schools with functions that allow us to change
    //colors from rgb values to hex values, which we do in the checkColor() function.
</script>
<script>
    let correctAudio = document.getElementById("correctAudio");
    let wrongAudio = document.getElementById("wrongAudio");
    //Check if last button press was correct, and play corresponding sound file
    //If variable is null, meaning no button has been pressed yet, we do not play an audio file
    let correctAnswer = <%- JSON.stringify(correctAnswer) %>;
    if (correctAnswer != null) {
        if (correctAnswer) {
            correctAudio.volume = 0.5;
            correctAudio.play();
        } else {
            wrongAudio.volume = 0.5;
            wrongAudio.play();
        }
    }


    let buttons = [button1, button2, button3, button4, button5, button6];
    button1 = document.getElementById("button1");
    button2 = document.getElementById("button2");
    button3 = document.getElementById("button3");
    button4 = document.getElementById("button4");
    button5 = document.getElementById("button5");
    button6 = document.getElementById("button6");

    let randomColors = <%- JSON.stringify(arrayOfColors) %>;

    for (let i = 0; i < buttons.length; i++) {
        buttons[i].style.color = randomColors[i].fontColor;
        buttons[i].style.backgroundColor = randomColors[i].backgroundColor;
        buttons[i].innerHTML = randomColors[i].fontText;
    }

    //When a button is pressed, font color is saved, and then checked in puzzle3.js
    function checkColor(button) {
        //Here we use the toHexString() function from w3schools to make sure the
        //font color is saved in the same format as it was originally assigned as,
        //earlier in this script tag. This allows for correct comparisons on the server.
        document.getElementById("fontColorOfButton").value = w3color(button.style.color).toHexString().toUpperCase();
        document.getElementById("buttonForm").submit();
    }
</script>